<div class="row header-grid-templates">
  <div class="ui labeled icon top left pointing dropdown button">
    <i class="filter icon"></i>
    <span class="text">Filtro</span>
    <div class="menu">
      <div class="ui icon input">
        <i class="search icon"></i>
        <input type="text" name="search" placeholder="Procurar">
      </div>
      <div class="divider"></div>
      <div class="header">
        <i class="tags icon"></i>
        Filtrar por modelos
      </div>
      <div class="item">
        <div class="ui red empty circular label"></div>
        Posts
      </div>
      <div class="item">
        <div class="ui blue empty circular label"></div>
        Textos
      </div>
      <div class="item">
        <div class="ui black empty circular label"></div>
        Testes
      </div>
      <div class="divider"></div>
      <div class="header">
        <i class="calendar icon"></i>
        Filtrar por data
      </div>
      <div class="item">
        <i class="circle icon"></i>
        Esta Semana
      </div>
      <div class="item">
        <i class="circle icon"></i>
        Este Mês
      </div>
      <div class="item">
        <i class="circle icon"></i>
        Este Ano
      </div>
    </div>
  </div>
</div>