<div class="row social-filters">
  <div class="column">
    <a href="#" class="active"><i class="facebook icon"></i></a>
  </div>
  <div class="column">
    <a href="#"><i class="instagram icon"></i></a>
  </div>
  <div class="column">
    <a href="#"><i class="twitter icon"></i></a>
  </div>
  <div class="column">
    <a href="#"><i class="google plus icon"></i></a>
  </div>
</div>